
{% block content %}
{% requireLogin %}
{% autoescape %}
Registation Datetime,teamEvent,teamName,teamContactEmail,teamPlayer1Name,teamPlayer1City,teamPlayer1Country,teamPlayer1Accommodation,teamPlayer1Contact,teamPlayer2Name,teamPlayer2City,teamPlayer2Country,teamPlayer2Accommodation,teamPlayer2Contact,teamPlayer3Name,teamPlayer3City,teamPlayer3Country,teamPlayer3Accommodation,teamPlayer3Contact,teamPlayer4Name,teamPlayer4City,teamPlayer4Country,teamPlayer4Accommodation,teamPlayer4Contact,teamHousingComment,teamRefereree,teamVolunteering,teamRegistrationGeneralComment
{% set teams =  craft.entries().section('teams').orderBy('dateCreated ASC').all() %}
{% for team in teams %}
{{team.dateCreated|date('U')}},{{team.teamEvent}},"{{team.teamName}}",{{team.teamContactEmail}},"{{team.teamPlayer1Name}}","{{team.teamPlayer1City}}",{{team.teamPlayer1Country}},{{team.teamPlayer1Accommodation}},"{{team.teamPlayer1Contact}}","{{team.teamPlayer2Name}}","{{team.teamPlayer2City}}",{{team.teamPlayer2Country}},{{team.teamPlayer2Accommodation}},"{{team.teamPlayer2Contact}}","{{team.teamPlayer3Name}}","{{team.teamPlayer3City}}",{{team.teamPlayer3Country}},{{team.teamPlayer3Accommodation}},"{{team.teamPlayer3contact}}","{{team.teamPlayer4Name}}","{{team.teamPlayer4City}}",{{team.teamPlayer4Country}},{{team.teamPlayer4Accommodation}},"{{team.teamPlayer4contact}}","{{team.teamHousingComment}}","{{team.teamRefereree}}","{{team.teamVolunteering}}","{{team.teamRegistrationGeneralComment}}"
{% endfor %}
{% endautoescape %}
{% endblock %}
