{% extends "/layout" %}

{% set homepage = true %}
{% block content %}
<div class="is-fullwidth">
    <div class="page-content" style="padding-top: 1rem">
        <h1 class="title is-2 is-hidden">Registration Sent</h1>
        <div class="content">
            <p>
                Your registration has been received!
            </p>
            <p>
                We will try to contact you via e-mail within 24 hours.
                <br>
                Thank you for your patience!
            </p>
        </div>
    </div>

    <hr>
    <div class="columns">

    </div>
</div>


{% endblock %}
