{% extends "/layout" %}

{% set homepage = true %}
{% block content %}
<div class="is-fullwidth">
    <div class="page-content modal-card-body" style="padding-top: 1rem">
        <h1 class="title is-2 ">Registration Sent</h1>
        <div class="content">
            <p>
                Your registration has been received!

            </p>
            <p>
                We will contact you via e-mail with payment info.
            </p>
            <p>
                Your registration is complete when we received your payment and you will see your team photo will appear on the event page.

                <br>
                <br>
                Thank you for your patience!
            </p>
        </div>
    </div>

    <hr>
    <div class="columns">

    </div>
</div>


{% endblock %}
