{% set pages = craft.entries.section('sections').level('<= 1').all() %}

<div class="container">
<nav class="navbar is-dark has-background-black">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item has-text-left is-hidden-desktop navbar-item-is-home navbar-item-home" href="/" style="">
                <span>Home</span>
            </a>
            <span class="navbar-burger burger" data-target="navbarMenu">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
        </div>
        <div id="navbarMenu" class="navbar-menu is-dark">



            <div class="navbar-end " style="padding-right: 2rem">

                <div class="navbar-item is-hidden-mobile">
                    <a class="navbar-item-home is-white " href="/">
                        <span>Home</span>
                    </a>
                </div>
                {% nav page in pages %}
                    {% if page.hasDescendants()  %}
                    {% if  page.slug =='registration' %}

                    <div class="navbar-item">
                        <a class="  " href="/ehbc/registration">
                            <span>Registration</span>
                        </a>
                    </div>
                    {% else %}

                    <div class="navbar-item has-dropdown  is-hoverable  is-dark is-transparent has-background-black">

                        <a class="navbar-link is-arrowless">
                            <span>{{ page.pageMenuTitle }}</span>
                        </a>
                        <div class="navbar-dropdown  is-dark has-background-black">
                            {% for submenu in page.getDescendants().all() %}
                            <a class="navbar-item has-background-black" href="{{submenu.url}}" title="{{submenu.pageTitle}}">
                                {{submenu.pageMenuTitle}}
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                    {% else %}
                        {% if page.slug=='home-page' %}

                        <div class="navbar-item">
                            <a class=" is-white" href="/">
                                <span>Home</span>
                            </a>
                        </div>
                        {% elseif page.level < 2 %}
                        <div class="navbar-item   is-dark has-background-black {% if entry is defined %} {{ page.id == entry.id ? 'is-active' }} {%endif%}">
                            <a class="" href="{{ page.getUrl() }}" class="navbar-item is-dark has-background-black">
                                <span>{{ page.pageMenuTitle }}</span>
                            </a>
                        </div>
                        {% endif %}
                    {% endif %}
                {% endnav %}
            </div>
        </div>
    </div>
</nav>
</div>