{% extends "/layout" %}

{% set homepage = true %}
{% block content %}

    <div style="margin-top:0rem;padding:0rem" class="">


        <p class="is-hidden">
            <h1 class="title is-3 has-text-centered is-hidden">EHBC 2019</h1>
            <h2 class="title is-4 has-text-centered is-hidden">16-21 July 2019 - Zürich, Switzerland</h2>
        </p>
        <p class="is-hidden">
            European Harcourt Bikepolo Champsionships
            <br>
            16-21 July, 2019.
            <br>
            Zürich, Switzerland.
        </p>


        <div>
            <img src="/images/2020-EHBPC_MUNCHEN-square.JPG" style="width: 100%">
        </div>

    </div>

{% endblock %}
