{% extends "/layout" %}
{# Get the requested entry slug from the URL #}
{% set requestedSlug = craft.app.request.getSegment(2) %}

{# Fetch the entry with that slug #}
{% set entry = craft.entries()
.slug(requestedSlug|literal)
.one() %}
{% set pageTitle = entry.pageTitle %}
{% block content %}
<div class="is-fullwidth  has-background-white content" style="padding: 2rem">


    <div class="page-content">

        {% if entry.slug!='home-page' %}
        <h1 class="title is-2">
            {{entry.sectionTitle}}
        </h1>
        {% endif %}
        <div class="content has-text-left">
            {{entry.pageContent}}
        </div>


    </div>
    {% if requestedSlug == 'contact-us' %}
    <hr>
    {% include '_contact' %}
    {% endif %}


    {% if requestedSlug == 'main-teams' %}
    <hr>
    {% set vars = {'event': 'MAIN'} %}
    {% include '_teams' with vars %}
    <hr>
    {% include '_teams_qualified' with vars %}
    {% endif %}


    {% if requestedSlug == 'wildcard-teams' %}
    <hr>
    {% set vars = {'event': 'WILDCARD'} %}
    {% include '_teams' with vars %}
    <hr>
    {% include '_teams_qualified' with vars %}
    {% endif %}


    {% if requestedSlug == 'registration-form' %}
    <hr>
    {% include '/event/_main-form' %}

    <section class="modal-card-body">

    </section>
    {% endif %}
</div>
{% endblock %}
