{% extends "/layout" %}

{% block content %}

<style>
    .team-list-item {
        position: relative;
        background-color: white;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        min-width: 300px;
        max-width: 300px;
        min-height:400px;
        border:1px solid black;
        margin-right: 1rem;
    }
</style>

<div class="is-fullwidth  has-background-white content" style="padding: 1rem">


    <p class="">
        <h1 class="title is-3 has-text-centered is-hidden">EHBC 2019</h1>
        <h2 class="title is-4 has-text-centered is-hidden">16-21 July 2019 - Zürich, Switzerland</h2>
    </p>


    <div class="container">

        <h1 class="title is-2">Teams qualified for the Main EHBC Event</h1>
        <div class="columns is-multiline" style="padding:1rem">
            {% set teams =  craft.entries().section('teams')
            .teamEvent('MAIN')
            .orderBy('teamName ASC')
            .all() %}

            {% for team in teams %}
            {% set teamPic = team.teamPicture.one().getUrl('teamPicList') %}
                <div class="team-list-item">
                    <div class="column  auto  " style='background-image: url("{{teamPic}}")'>
                        <h2 class="title is-5 is-borderless" style="position: absolute;bottom:0">
                            <a href="{{team.url}}">{{team.teamName}}</a>
                        </h2>
                    </div>
                </div>
            {% endfor %}
        </div>

        <hr>
        <h1 class="title is-2">Teams qualified for the Wildcard Event</h1>
        <div class="" style="padding:1rem">
            {% set teams =  craft.entries().section('teams')
            .teamEvent('WILDCARD')
            .orderBy('teamName ASC')
            .all() %}

            {% for team in teams %}
                <h2 class="title is-5"><a href="{{team.url}}">{{team.teamName}}</a></h2>
            {% endfor %}
        </div>

    </div>

</div>

{% endblock %}
