{% redirect "/ehbc/wildcard-summary" 301 %}

{% extends "/layout" %}

{% set homepage = true %}
{% block content %}

    <div style="margin-top:3rem;padding:1rem" class="modal-card-body">


        <p style="">
            <h1 class="title is-3 has-text-centered">EHBC 2019 - Zürich</h1>
            <h3 class="title is-4 has-text-centered">Wildcard Registration</h3>
        </p>

            <p>
                Registration is now closed until further notice.
                <br>
                Team list will be published promptly.
            </p>
        {#
        <div class="has-text-centered">
            Registration for 12 Open Slots in the EHBC Wildcard Event <strong>is here</strong>:
        </div>

        <p id="demo">
            <a href="https://ehbc2019.eurohardcourt.com/ehbc/wildcard-tournament" style="text-decoration: underline">Registration Form</a>
        </p>

        <div class="has-text-centered" style="margin-top:2rem">



            <h3 class="title is-4" style="margin-top: 1rem"> Rules:</h3>

            <div class="has-text-left" style="padding-left: 0">
                <ol>
                    <li>
                        Teams need to be composed of 2/3 European players
                        <ul>
                            <li>
                                No TBA's
                            </li>
                            <li>
                                No player who is already qualified for the Main Event is allowed to substitute in the Wildcard
                            </li>
                        </ul>
                    </li>
                    <li>
                        The Slots will be given to the 12 fastest teams to submit the form correctly filled ("first come, first served")
                        <ul>
                            <li>
                                We allow the fastest 6 teams composed of players from 3 different regions ("international teams") a guarenteed slot
                            </li>
                            <li>
                                Registration will be open for 1 hour
                            </li>
                            <li>
                                If less than 12 teams register until then, every team who registered will have a guaranteed slot and registration will stay open
                            </li>
                            <li>
                                If there are more than 12 teams, we will put teams on the waiting list by time of registration
                            </li>
                        </ul>
                    </li>
                    <li>
                        If more slots become available later, the highest team on the waiting list gets the slot
                    </li>

                </ol>
            </div>
            <br><br>
            <h5 class="title is-3">
                We wish you all good luck with the registration!
            </h5>
            ﻿            <br><br>

        </div>

        #}
    </div>


{% endblock %}
