@charset "utf-8";

@font-face {
  font-family: "Slash";
  src: url("/fonts/Slash.ttf");
}

// Set your brand colors
$orange: #ffa44d;
$orange: #ffa44d;
$pink: black;
$brown: #757763;
$green: #006f37;
$beige-light: #ffffff;
$beige-lighter: #ffffff;

// Update Bulma's global variables
$family-sans-serif: "Helvetica", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $orange;
$link: $orange;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $orange;
$body-font-size: 1.1em;
$body-line-height: 1.7;
$hr-background-color: transparent;
$strong-color: $orange;

$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";


html, body {
  background-color: linear-gradient(#ffa44d, #B17235);
}
$navbar-dropdown-border-top: 0;
$navbar-dropdown-item-hover-background-color: black;
.navbar-end {
  text-transform: uppercase;
  font-family: Slash, "Arial Rounded MT Bold";
  color: #fff;

}
.navbar-menu {
   background-color: black;
   text-align: left;
 }

nav a:last-child:not(.navbar-item-home) {
 /* margin-right:1rem;*/
}
nav a,
a.navbar-link span {
  color: #fff;
  display: inline-block;
}
a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover, a.navbar-item.is-active, .navbar-link:focus, .navbar-link:focus-within, .navbar-link:hover, .navbar-link.is-active,
nav a:focus,
nav a:active,
nav a:hover,
nav a:focus span,
nav a:active span,
nav a:hover span {
  color: $orange;
  background-color: black;
}

h1.title,
h2.title,
h3.title
{
  text-transform: uppercase;
  font-family: Slash;
}
.title.is-2,
.title.is-3,
.title.is-4,
.title.is-5 {
  border-bottom: 1px solid $orange;
}

.input, textarea.textarea, .select select {
  border-color: $orange;
}
.input:hover, textarea.textarea:hover, .select select:hover,
.input:focus, textarea.textarea:focus, .select select:focus {
  border-color: $green;
}

.navbar-dropdown a.navbar-item:focus,
.navbar-dropdown a.navbar-item:hover {
  color: $orange;
  background-color: #000000;
}