@import url("https://p.typekit.net/p.css?s=1&k=deq6iaa&ht=tk&f=16996&a=13586124&app=typekit&e=css");

@font-face {
  font-family:"aw-conqueror-carved";
  src:url("https://use.typekit.net/af/c89592/00000000000000003b9b28dd/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/c89592/00000000000000003b9b28dd/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/c89592/00000000000000003b9b28dd/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-display:auto;font-style:normal;font-weight:400;
}

.tk-aw-conqueror-carved { font-family: "aw-conqueror-carved",sans-serif; }
// Set your brand colors
$orange: #f6ce0c;
$yellow: #f6ea39;
$blue: #4935ff;
$pink: black;
$black: black;
$brown: #4d4f42;
$green: #006f37;
$beige-light: #ffffff;
$beige-lighter: #ffffff;

// Update Bulma's global variables
$family-sans-serif: "Helvetica", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $yellow;
$link: $blue;

$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $yellow;
$body-font-size: 1.1em;
$body-line-height: 1.7;
$hr-background-color: transparent;
$strong-color: $brown;

$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";


html, body {
  background-color: linear-gradient($orange, $black);
}
$navbar-dropdown-border-top: 0;
$navbar-dropdown-item-hover-background-color: black;
.navbar-item-is-home span,
.navbar-item-home,
.navbar-end {
  text-transform: uppercase;
  font-family: aw-conqueror-carved, Helvetica, sans-serif;
  color: #fff;

}
.navbar-menu {
   background-color: black;
   text-align: left;
 }

nav a:last-child:not(.navbar-item-home) {
 /* margin-right:1rem;*/
}
nav a,
a.navbar-link span {
  color: #fff;
  display: inline-block;
}
a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover, a.navbar-item.is-active, .navbar-link:focus, .navbar-link:focus-within, .navbar-link:hover, .navbar-link.is-active,
nav a:focus,
nav a:active,
nav a:hover,
nav a:focus span,
nav a:active span,
nav a:hover span {
  color: $yellow;
  background-color: black;
}

h1.title,
h2.title,
h3.title
{
  text-transform: uppercase;
  font-family: aw-conqueror-carved, Helvetica, sans-serif;
}
.title.is-2,
.title.is-3,
.title.is-4,
.title.is-5 {
  border-bottom: 1px solid $yellow;
}


.page-content h1.title {
  margin-top: 1rem;
}

.input, textarea.textarea, .select select {
  border-color: $yellow;
  color: $black;
}
.input:hover, textarea.textarea:hover, .select select:hover,
.input:focus, textarea.textarea:focus, .select select:focus {
  border-color: $orange;
}

.navbar-dropdown a.navbar-item {
    font-family: Helvetica, sans-serif;
    color: $yellow;

}
.navbar-dropdown a.navbar-item:focus,
.navbar-dropdown a.navbar-item:hover {
  font-family: Helvetica, sans-serif;
  color: $orange;
  background-color: #000000;
}


div.page-content a {
  display: inline-block;
  background-color: none;
  color: $blue;
  padding: 0 3px;
}

div.page-content a:hover {
  background-color: $yellow;
  color: $black;
}